body{
    background-color: #ebeff2;
}
header{
    width: 100%;
}
.container {
    margin: 20px;
    box-shadow: 2px 2px 2px 2px slategray;
    background-color: #d3dbd6;
    border: none;
    display: flex;
}

.todo-desk {
    width: 100%;
    margin: 20px;
}
.add-ticket-btn {
    background-color: white;
    font-size: 25px;
    color: slategray;
    box-shadow: 2px 2px 2px 2px slategray;
    border: none;
    margin: 20px;
    transition: 0.3s;
}
.add-ticket-btn:hover {
    transform: scale(1.1);
}
.todo-item {
    margin: 10px;
    padding-right: 5px;
    width: 200px;
    height: 200px;
    background-color: #ffe363;
    float: left;
    border-radius: 5px;
    padding-bottom: 10px;
}
.todo-item-input {
    margin: 5px 10px;
    width: 180px;
    height: 160px;
    background-color: lemonchiffon;
    border: none;
}
.delete-btn {
    float: right;
    color: black;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 10px;
    background-color: lemonchiffon;
}
.delete-btn:hover {
    background-color: orangered;
}